.form-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

.sign-in-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    justify-content: center;
  }
  
  .sign-in-form label {
    text-align: left;
    margin-bottom: 1px;
    font-size: 14px;
    color: #333;
  }
  
  .sign-in-form input {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .sign-in-form button {
    padding: 10px;
    cursor: pointer;
    width: 48%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
  }